stages:
  - lint
  - test
  - build


lint-job:
  stage: lint
  image: python:3.11
  script:
    - pip install flake8
    - flake8 .

test-job:  
  stage: test
  image: python:3.11
  script:
    - pip install -r requirements.txt
    - pip install pytest
    - pytest

build-job:       
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_IMAGE: myapp:latest
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login -u "$CI_REGISTRY_USER" --password-stdin $CI_REGISTRY
    - docker build -t "$DOCKER_IMAGE" .
    - docker tag myapp:latest registry.gitlab.com/ivankiv123-group/devops_lab5/myapp:latest
    - docker push registry.gitlab.com/ivankiv123-group/devops_lab5/myapp:latest
  only:
    - main




