name: Python CI

on:
  push:
    branches: [main, dev]
  pull_request:
    branches: [main]

jobs:

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install flake8
      - run: flake8 .


  tests:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - run: pip install -r requirements.txt
      - run: PYTHONPATH=. pytest --cov=./ --cov-report=xml -cov-fail-under=50 tests/
  
  build:
    runs-on: ubuntu-latest
    needs: tests
    rules:
      - if: '$CI_COMMIT_BRANCH == "main"'
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - run: docker build -t ghcr.io/${{ github.repository_owner }}/myapp:latest .
      - run: docker push ghcr.io/${{ github.repository_owner }}/myapp:latest
    

